.container-car{
  display: flex;
  flex-direction: column;
  padding: 10px 120px;
  .title{
    font-size: 25px;
    border-bottom: 3px solid rgb(0, 162, 255);
    width: 450px;
    margin-bottom: 50px;
    span{
      color: rgb(0, 162, 255);
    }
  }
  .cards{
    display: flex;
    .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 250px;
      cursor: pointer;
      border: 1px solid rgb(255, 255, 255);
    }
    .card:hover{
      border: 1px solid rgb(0, 162, 255);
    }
    .image{
      width: 150px;
      height: 150px;
      img{
        width: 100%;
      }
    }
    .title-product{
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      padding: 0px 5px;
      P{
        font-weight: 600;
      }
      .titlePrinc{
        font-size: 18px;
        font-weight: 600;
      }
    }
    .frete{
      width: 100%;
      padding: 0px 5px;
    }
  }
}
