<div class="container-car">
  <div class="title">
    <p>Grab the best deal on <span>Smartphones</span></p>
  </div>
  <div class="cards" *ngIf="dados?.length">

    <div class="card" *ngFor="let item of dados">
      <div class="image">
        <img [src]=" item.imagem" alt="">
      </div>
      <div class="title-product">
        <p> {{ item.nome }}</p>
        <p>R$ {{ item.preco }}</p>
      </div>
      <div class="frete">
        <p>Frete: Gratis</p>
      </div>
    </div>

  </div>

</div>
