.container-car{
  display: flex;
  flex-direction: column;
  padding: 0px 120px;
  .title{
    font-size: 25px;
    border-bottom: 3px solid rgb(0, 162, 255);
    width: 450px;
    margin-bottom: 50px;
    span{
      color: rgb(0, 162, 255);
    }
  }
  .cards{
    display: flex;
    gap: 20px;
    .box-category{
      width: 150px;
      height: 150px;
      border-radius: 100%;
      border: 1px solid rgb(0, 162, 255);
    }
  }

}
