<div class="container-header">
  <div class="ad-bar">
    <div class="welcome">
      <p>Welcome Worldwide MegaMart</p>
    </div>
    <div class="moreInfos">
      <div class="location">
        <p>icon</p>
        <p>Delivery to 423651</p>
      </div>
      <div class="offers">
        <p>icon</p>
        <p>All Offers</p>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="logo">
      <p>MegaMart</p>
    </div>
    <div class="search">
      <input type="search" placeholder="search">
    </div>
    <div class="login">
      <div class="cart">
        <p>icon </p>
        <p>Sign Up/ Sign In</p>
      </div>

      <div class="cart">
        <p>icon</p>
        <p>Cart</p>
      </div>
    </div>
  </div>
  <div class="category">
    <div class="box-category" id="box1">
      <p>Groceries</p>
      <p>I</p>
    </div>
    <div class="box-category">
      <p>Groceries</p>
      <p>I</p>
    </div>
    <div class="box-category">
      <p>Groceries</p>
      <p>I</p>
    </div>
    <div class="box-category">
      <p>Groceries</p>
      <p>I</p>
    </div>
  </div>
</div>
