.container-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .ad-bar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    .welcome{
      display: flex;
      justify-content: center;
      p{
        color: #636262;
        font-size: 20px;
      }
    }
    .moreInfos{
      display: flex;
      gap: 20px;
      .location{
        display: flex;
        gap: 5px;
      }
      .offers{
        display: flex;
        gap: 5px;
      }
    }
  }
  .header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    .logo{
      p{
        font-size: 40px;
        color: rgb(0, 140, 255);
      }
    }
    .search{
      padding: 0px 5px;
      background-color: #eee;
      color: rgb(0, 140, 255);
      input{
        width: 400px;
        height: 50px;
        padding: 0px 5px;
        border: none;
        background-color: #eee;
      }
    }
    .login{
      display: flex;
      gap: 20px;
      .cart{
        display: flex;
        gap: 10px;
      }
      .line{
        width: 1px;
        height: 30px;
        background-color: #ccc;
      }
    }
  }
  .category{
    display: flex;
    gap: 10px;
    #box1{
      width: 120px;
      height: 55px;
      border-radius: 16px;
      background-color: rgb(0, 140, 255);
      gap: 8px;
      p{
        font-size: 14px;
        color: white;
      } 
    }
    .box-category{
      width: 120px;
      height: 55px;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        height: 0px;
        font-size: 14px;
        color: rgb(0, 0, 0);
      }
    }
  }
}
